<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Application</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<body>

  <div class="container">
    <nav></nav>

    <main class="row">
      <h1>
        App
      </h1>
      <div class="col-8">

        <h2>Users</h2>
        <ul>
          <% users.forEach(function(user){ %>
            <div>
              <div>
                <label>User ID: <output>
                    <%= user.user_id %>
                  </output></label>
              </div>
              <div>
                <label>Tenant Name: <output>
                    <%= user.name %>
                  </output></label>
              </div>
              <div>
                <label>Apartment Number: <output>
                    <%= user.apt_number %>
                  </output></label>
              </div>
              <div>
                <label>Email: <output>
                    <%= user.email %>
                  </output></label>
              </div>
              <form action="/users/delete" method="POST">
                <input type="hidden" name="user_id" value="<%= user.user_id %>">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
            <hr />

            <% })%>
        </ul>
      </div>
      <!-- /.col-8 -->

      <div class="col-4">
        <h2>Create User</h2>

        <form action="/users/create" method="POST">
          <div>
            <label class="form-label">user_id:
              <input required="true" name="user_id" type="number" class="form-control" /></label>
          </div>
          <div>
            <label class="form-label">name:
              <input required="true" name="name" type="text" class="form-control" /></label>
          </div>
          <div>
            <label class="form-label">apt_number:
              <input required="true" name="apt_number" type="number" class="form-control" /></label>
          </div>
          <div>
            <label class="form-label">email:
              <input required="true" name="email" type="text" class="form-control" /></label>
          </div>

          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      <!-- /.col-4 -->
    </main>

    <footer>
      <div class="row">
        <div class="col-4">Made by Stephane</div>
      </div>
    </footer>
  </div>
</body>

</html>